<div class="col-sm-2">
                
    <div class="well">
        <div style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Courses</li>
          <li><a href="#">Find Courses</a></li>
          <li><a href="#">My Courses</a></li>
          <li><a href="#">Timetable</a></li>
          <li><a href="#">Books</a></li>
        </ul>
</div>
<div style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Help</li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ's</a></li>
        </ul>
</div>
    </div>


</div>