<% layout('layout') -%>

<h1>BU StudentLink</h1>
<p class="lead">A Course Registration System</p>
<hr/>
<div class="row">
  <div class="col-sm-6">
    <h2>Register for Classes</h2>
    <p>Register for class</p>
    <p><a href="/register" role="button" class="btn btn-default">Register »</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2>Current Schedule</h2>
    <p>Some class here</p>
  </div>
</div>